.image-slider {
    width: auto;
    height: 400px;
}

.slider-buttons {
    margin-top: 10px;
}


.prev-button {
    position: absolute;
    top: 45%;
    left: 21%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    border: none;
    z-index: 999;
    height: 80px;
}

.next-button {
    position: absolute;
    top: 45%;
    right: 15%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    border: none;
    z-index: 999;
    height: 80px;
}



.next-button {
    position: absolute;
}

.desktop-only {
    display: none;
}

@media only screen and (min-width: 1024px) {
    .desktop-only {
        display: block;
    }
}